html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.backGroundColorBody {
  background-color: #d8c99bff;
}

.backGroundColorNav {
  background-color: #273e47ff;
}

header {
  position: fixed; top: 0; left: 0; right: 0;
  z-index: 100;
} 

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: absolute;
}

.titreAccueil {
  width: 85rem;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
}

.patchwork {
  display:flex;
  padding: 10px;
  width: 100%;
  max-height: fit-content;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
}

@media screen and (max-width: 550px) {
  p {
  font-size: medium;
  padding-top: 4em;
  } 
  .main {
  margin-top: 200px !important;
  margin-left: auto;
  margin-right: auto; 
  }
}

.dimension {
  display: none;
  width: 45rem;
  height: calc(45rem * 0.56);
}

.dimension1 {
  display: none;
  width: 30rem;
  height: calc(30rem * 0.56);
}

.dimension2 {
  display: none;
  width: 15rem;
  height: calc(15rem * 1.33);
}

@media screen and (min-width: 300px) { 
  .dimension2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 760px) { 
  .dimension1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .dimension2 {
    display: none;
  }
}

@media screen and (min-width: 1020px) { 
  .dimension {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .dimension1 {
    display: none;
  }
  main {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-link {
  color: #a4243bff;
}

li {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 50px;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  padding: 5px 50px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #a4243bff;
  background-color: hsla(197, 29%, 22%, 1);
  position: fixed; bottom: 0; left: 0; right: 0;
  min-height: 50px;
}

.contactItem {
  font-size: 15px;
  font-weight: 700;
}

.listContact {
  margin: 1rem;
}

.ressource {
  color: #a4243bff;
}
.carousel-inner {
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 99, 47, 1);
}

#carouselExampleIndicators {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 10rem;
  padding: 10px;
}

.card {
  background-color: #d8973cff;
}

.divGraff {
  justify-content: center;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 15em;
}

.contactItem {
  display: inline-block;
}

.author {
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  font-size: medium;
}

.icon {
  font-size: 10px;
}

a span.infobulle {
  position:absolute;
  margin-top:25px;
  margin-left:-100px;
  color:#fff;
  background:rgba(0, 0, 0, 0.5);
  padding:25px;
  border-radius:3px;
  transform:scale(0) rotate(-180deg);
  transition:all .25s;
  opacity:0;
}

a:hover span.infobulle, a:focus span.infobulle {
transform:scale(1) rotate(0);
opacity:1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 15em;
}

.flex-container >div {
  width: 100%;
  margin: auto;
}

.localisation {
  text-align: center;
  padding: 1em;
}



