html {
  height: 100%;
}
/*body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
}*/

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.backGroundColorBody {
  background-color: #d8c99bff;
}
.backGroundColorNav {
  background-color: #273e47ff;
}
header {
  position: fixed; top: 0; left: 0; right: 0;
  z-index: 100;
} 
/*main {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 60px 0px 60px 0px;
  border: solid 2px black;
  position: absolute;
}*/

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: absolute;
}

.titreAccueil {
  width: 85rem;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
}

.patchwork {
  display:flex;
  padding: 10px;
  /*width: 70rem;
  height: calc(70rem * 0.56);*/
  width: 100%;
  max-height: fit-content;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
}

@media screen and (max-width: 550px) {
  p {
  font-size: medium;
  padding-top: 4em;
  } 
  .main {
  margin-top: 200px !important;
  margin-left: auto;
  margin-right: auto; 
  }
}
.dimension {
  display: none;
  width: 60rem;
  height: calc(60rem * 0.56);
}
.dimension1 {
  display: none;
  width: 30rem;
  height: calc(30rem * 0.56);
}
.dimension2 {
  display: none;
  width: 15rem;
  height: calc(15rem * 1.33);
}

@media screen and (min-width: 300px) { 
  .dimension2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 760px) { 
  .dimension1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .dimension2 {
    display: none;
  }
}

@media screen and (min-width: 1020px) { 
  .dimension {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .dimension1 {
    display: none;
  }
}

.nav-link {
  color: #a4243bff;
}
li {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 50px;
}
.logo {
  width: 50px;
  height: 50px;
}
.navbar-brand {
  padding: 5px 50px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #a4243bff;
  background-color: hsla(197, 29%, 22%, 1);
  position: fixed; bottom: 0; left: 0; right: 0;
  min-height: 50px;
}
.contactItem {
  font-size: 15px;
  font-weight: 700;
}
.listContact {
  margin: 1rem;
}
.ressource {
  color: #a4243bff;
}
.carousel-inner {
  /*display: flex;
  margin-top: 80px;
  padding: 10px;
  width: 50rem;
  height: calc(50rem * 0.56);*/
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 99, 47, 1);
}

#carouselExampleIndicators {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 10rem;
  padding: 10px;
}

.card {
  background-color: #d8973cff;
}

.divGraff {
  /*justify-content: center;
  align-items: center;*/
  margin-top: 15em;
  margin-bottom: 15em;
}
.row {
  align-items: center;
  justify-content: center;
}

.contactItem {
  display: inline-block;
}


